---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>
  <p>
    Got nothing about me for now though. Hit 26 and financially unstable af <br
    /> Check back later? <br />
    Hopefully the world hasn't ended by then.
  </p>
</BaseLayout>
