---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>
  <body>
    <p>
      Got nothing about me for now though. Gonna hit 27 and financially unstable
      af <br /> Check back later? <br />
      Hopefully the world hasn't ended by then. Sadly it hasn't ended.
    </p>
  </body>
</BaseLayout>
