---
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Interests">
  <h1>Interests</h1>
  <ul>
    <li>C23</li>
    <li>
      C++20 (where is the <a
        href="https://en.cppreference.com/w/cpp/compiler_support/23.html"
        target="_blank"
        rel="noopener">support for C++23</a
      >
      )
    </li>
    <li>Rust</li>
    <li>Python3.11 with UV(thank lord for this lol)</li>
  </ul>
</BaseLayout>
